# /node_modules and /bower_components ignored by default

node_modules/**
app/plugins/**
bower_components/**

.idea/**
app/www/**
bin/**

app/src/module/base
app/src/module/auxiliary

gulpfile.js
tools.js

app/src/module/config.js
app/src/module/config.default.js
